.div-cart {
    padding: 2rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icono-cart {
    width: 3.5rem;
    height: 3.5rem;
    color: black;
}

.contador-cart {
    font-size: 3rem;
    color: black;
}