.div-cart {
    background-color: rgb(160, 160, 160);
    position: relative;
    right: 2%;
    width: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icono-cart {}

.contador-cart {
    font-size: 3rem;
    color: black;
}