body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f5f5f5
}

.hedding {
    font-size: 20px;
    color: #ab8181;
}

.detalle-titulo1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#detalle-titulo2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#detalles-detalles {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.main-section {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 5%);
}

.left-side-product-box img {
    width: 100%;
    min-width: 20%;
}

.left-side-product-box .sub-img img {
    margin-top: 5px;
    /* width: 83px;
    height: 100px; */
}

.right-side-pro-detail span {
    font-size: 15px;
}

.right-side-pro-detail p {
    font-size: 25px;
    color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
    color: #E45641;
}

.right-side-pro-detail .tag-section {
    font-size: 18px;
    color: #5D4C46;
}

.pro-box-section .pro-box img {
    width: 100%;
    height: 200px;
}

#container-detalles {
    min-width: 20%;
}

@media (min-width:640px) and (max-width:992px) {
    #container-detalles1 {}
    #container-detalles2 {
        width: 500px;
    }
    #filaunica {}
    #columnaimagen {
        width: 450px;
    }
    #columnamacrodetalles {
        width: 200px;
        min-width: 150px;
    }
    #columnamacrodetalles-divinterno {
        width: 450px;
        min-width: 150px;
    }
    /* #filanombre {}
   
    #filaprecio {}
    #filadetalles {}
    #filatipo {}
    #filastock {} */
    #filaitemcount {
        width: 50px;
    }
}

@media (min-width:480px) and (max-width:640px) {
    #container-detalles1 {}
    #container-detalles2 {
        width: 450px;
    }
    #filaunica {}
    #columnaimagen {
        width: 400px;
    }
    #columnamacrodetalles {
        width: 200px;
        min-width: 150px;
    }
    #columnamacrodetalles-divinterno {
        width: 400px;
        min-width: 150px;
    }
    #filaitemcount {
        width: 50px;
    }
}

@media (min-width:0px) and (max-width:479px) {
    #container-detalles1 {}
    #container-detalles2 {
        width: 250px;
        height: 1120px;
    }
    #filaunica {}
    #columnaimagen {
        width: 210px;
    }
    #columnamacrodetalles {
        width: 300px;
    }
    #columnamacrodetalles-divinterno {
        width: 180px;
    }
    #filaitemcount {
        width: 50px;
    }
}