.card {
    width: 30%;
    max-height: 35rem;
    margin: 1rem;
    padding: 0.5rem;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.card-tipo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
}

.card-body {
    height: 20%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    max-height: 35%;
    max-width: 90%;
}

.card-text {
    height: 15%;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    padding: 0;
}


/* .intro-titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.intro-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
} */

@media (min-width:0px) and (max-width:790px) {
    .card {
        width: 100%;
        min-width: 30%;
        max-height: 30rem;
        margin: 1.2rem;
        padding: 0.5rem;
    }
    .card-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1rem;
        padding-top: 1rem;
    }
    .card-tipo {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.3rem;
        color: black;
        font-weight: bold;
        padding-top: -10px;
    }
    .card-body {
        height: 20%;
        display: flex;
        flex-direction: column;
    }
    .card-img-top {
        max-height: 35%;
        max-width: 90%;
    }
    .card-text {
        height: 10%;
        overflow: hidden;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.1rem;
        padding: 0;
    }
}

@media (min-width:0px) and (max-width:962px) {
    .card {
        position: relative;
        width: 45%;
    }
    .card-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1rem;
        padding-top: 1rem;
    }
    .card-tipo {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.3rem;
        color: black;
        font-weight: bold;
        padding-top: -10px;
    }
    .card-body {
        height: 20%;
        display: flex;
        flex-direction: column;
    }
    .card-img-top {
        max-height: 35%;
        max-width: 90%;
    }
    .card-text {
        height: 10%;
        overflow: hidden;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.1rem;
        padding: 0;
    }
}