.navbar-brand {
    max-width: 100%;
    max-height: 100px;
    font-size: 24px;
}

.navbar-brand img {
    height: auto;
    max-width: 30%;
}

.navbar-nav {
    /* position: relative;
    right: -60%; */
}

.navbar-nav li {}

.navbar {
    width: 100%;
}

.header {
    width: 100%;
}